#{extends 'main.html' /}
#{set title:'Home' /}
<div class="body">
    #{if topics.size() > 0}
        <div class="list">
            #{list items:topics, as:'topic'}
            <div class="topic">
                <h2><a href="@{Application.show(topic.id)}">
                    ${topic.title}
                    #{if topic.posts.size()==1}
                        <span class="postNumber">(1 post)</span>
                    #{/if}
                    #{else}
                        <span class="postNumber">(${topic.posts.size()} posts)</span>
                    #{/else}
                </a></h2>
                <div class="topicInfo">
                    <span class="lastAuthor">Last post by ${topic.posts.last().author}</span>
                    <span class="lastPost">Last modification : ${topic.modified.format('dd MMM yyyy HH:mm')}</span>
                </div>
            </div>
            #{/list}
        </div>
    #{/if}
    #{else}
        <div class="error">
            <p>The forum have any topic for the moment, you can create a topic.</p>
        </div>
    #{/else}
    <div class="link">
        <a href="@{Application.add}">Add a topic</a>
    </div>
</div>