#{extends 'main.html' /} #{set title: topic.title /}

<div>
<h1>${topic.title}</h1>
#{if flash.success}
    <p class="success">${flash.success}</p>
#{/if}
<div>
#{if topic.posts.size() > 0}
#{list items:topic.posts , as:'post'}
<div>#{if post.subtitle}
<h2>${post.subtitle}</h2>
#{/if}
<span>by ${post.author}</span>
<span>${post.created.format('dd MMM yyyy HH:mm')}</span>
<p>${post.text}</p>
#{if post.modified}
<p><i>modified : ${post.modified.format('dd MMM yyyy HH:mm')}</i></p>
#{/if}
</div>
#{/list}
#{/if}
</div>
<div>
<h3>Reply</h3>

#{form @Application.reply(topic.id)}

    #{ifErrors}
        <p class="error">
            ${errors[0]}
        </p>
    #{/ifErrors}

    #{reply /}
    <p>
        <input type="submit" value="Submit Reply" />
    </p>
#{/form}
</div>
</div>

